################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs


# Build results
InfoBAR/[Dd]ebug/
InfoBAR/[Dd]ebugPublic/
InfoBAR/[Rr]elease/
InfoBAR/[Rr]eleases/
InfoBAR/x64/
InfoBAR/x86/
InfoBAR/bld/
InfoBAR/[Bb]in/
InfoBAR/[Oo]bj/
InfoBAR/[Ll]og/
InfoBAR/.vs/InfoBAR/v16/.suo
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

InfoBAR/App.config

