<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InfobarEntities" connectionString="metadata=res://*/ModeloBar.csdl|res://*/ModeloBar.ssdl|res://*/ModeloBar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-858SSLCD\SQLEXPRESS;initial catalog=Infobar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>